@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.eot') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
html{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
.brd-btm-none{
    border-bottom: none;
}
.clr::after{
    content:"";
    clear: both;
    display: block;
}
.right{
    float: right;
}
.left{
    float: left;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
}
.wrapper ul{
    list-style: none;
}
.top-line{
    background-color: #1f1f56;
    padding: 18px 0;
    font-size: 0;
}
.top-line ul{
    padding-left: 25px;
    margin: 0;
    padding: 0;
}
.top-line li{
    display: inline-block;
}
.top-line a{
    color: #b1b1d2;
    text-decoration: none;
    letter-spacing: 2px;
}
.top-line a:hover{
    color: #fd8300;
}
.top-menu{
    font-size: 14px;
}
.top-menu a{
    margin-right: 30px;
}
.social a{
    margin-left: 25px;
    display: block;
}
.fb{
    width: 10px;
    height: 19px;
    background: url(../pictures/sprite.png) no-repeat;
    background-position: -2px -2px;
    transition: all 0.5s ease;
}
.tw{
    width: 17px;
    height: 16px;
    background: url(../pictures/sprite.png) no-repeat;
    background-position: -2.3px -22px;
    transition: all 0.5s ease;
}
.ins{
    width: 20px;
    height: 20px;
    background: url(../pictures/sprite.png) no-repeat;
    background-position: -1px -39px;
    transition: all 0.5s ease;
}
.fb:hover{
    background-position: -14px -2px;
}
.tw:hover{
    background-position: -21.4px -22px;
}
.ins:hover{
    background-position: -22px -39px;
}
.column{
    vertical-align: top;
    float: left;
    max-width:  219px;
    font-size:  14px;
    box-sizing: border-box;
    margin: 0 14px;
}
.row{
    margin: 0 -14px;
    font-size:  0;
}
.header-contacts{
    padding: 35px 0;
}
.header-contacts p,
.footer-contacts p{
    margin: 0;
}
.shadow_header{
    content: "";
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.phones{
    font-size: 18px;
}
.phones a{
    font-weight: bold;
}
.phones p:first-child,
.messengers p:first-child{
    margin-bottom: 10px;
}
.line_meseng{
    position: relative;
}
.line_meseng::before{
    content: "";
    background-color: #e4e4ec;
    width: 1px;
    height: 50px;
    position: absolute;
    left: -8px;
}
.phones,
.messengers{
    padding-left: 40px;
}
.phones a,
.cta-btm a{
    text-decoration: none;
    color: #25252c;
}
.messengers .post{
    text-decoration: underline;
}
.post a{
    font-size: 16px;
    color: #25252c;
}
.messengers a{
    color: #404047;
    text-decoration: none;
}
.messengers,
.cta-btm{
    font-size: 16px;
}
.column.cta-btm{
    text-align: right;
    float: right;
    height: 60px;
}
.cta-btm a{
    border: 2px solid #fd8300;
    border-radius: 25px;
    padding: 15px 30px;
    display: inline-block;
}
.cta-btm a:hover{
    color: white;
    background-color: #fd8300;
}
.phone_ico,
.post_ico,
.skype_ico{
    position: relative;
}
.phone_ico::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background: url(../pictures/sprite.png) no-repeat;
    background-position: -1px -75px;
    right: 100%;
    padding-right: 12px;
}
.post_ico::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 14px;
    background: url(../pictures/sprite.png) no-repeat;
    background-position: -2px -60px;
    right: 100%;
    padding-right: 12px;
} 
.skype_ico::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 17px;
    background: url(../pictures/sprite.png) no-repeat;
    background-position: -2px -95px;
    right: 100%;
    padding-right: 12px;
}  
.special-offer{
    background-image: url(../pictures/background.png);
    background-size: cover;
    text-align: center;
    color: white;
    padding:  40px 0;
    margin-bottom: 40px;
}
.special-proposition{
    margin: 0;
    padding-bottom: 17px;
}
.special-description{
    margin: 0;
    padding-bottom: 17px;
}
.special-proposition,
.content h1{
    font-size: 30px;
}
.special-price{
    font-size: 24px;
    color:  #fd8300;
    margin: 0;
}
.special-price span{
    font-size: 40px;
    font-weight: bold;
}
.special-price sup{
    font-size: 16px;
}
.special-proposition,
.content h1,
.popular_projects h2{
    font-family: "Roboto Slab";
    font-weight: bold;
}
.main_div{
    padding: 45px 0;
}
.aside{
    max-width: 219px;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
}
.aside p{
    margin: 0;
    padding: 15px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color:#1f1f56;
}
.aside-menu{
    background-color: #e4e4ec;
}
.aside ul,
.aside-menu p{
    margin: 0;
    padding: 0;
}
.aside-menu,
.sub-menu{
    list-style-type: none;
    font-size: 14px;
}
.aside-menu a{
    display: block;
    padding: 15px;
    color: #25252c;
    text-decoration: none;
}
.aside-menu>li{
    position: relative;
    border-bottom: 1px solid #cdcddd;
}
.aside-menu>li::before{
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    right: 15px;
    top: 19px;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    transform: rotate(-45deg);
    transition: all 1s ease;
}
.aside-menu>li:hover::before{
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    top: 16px;
}
.aside-menu>li:hover>a{
    color: #fff;
    background-color: #fd8300;
}
.sub-menu>li:hover>a{
    font-weight: bold;
    background-color: #cecedd;
}
.sub-menu a{
    color: #666;     
}
.sub-menu{
    display: none;
}
.aside-menu li:hover .sub-menu{
    display: block;
}
.content{
    max-width: 715px;
}
.content p{
    line-height: 24px;
    color: #666666;    
}
.more{
    color: #fd8300;
}
.more:hover{
    font-weight: bold;
    font-size: 16px;
}
.line::after{
    content: "";
    border-bottom: 1px solid  #e4e4ec;
    display: block;
}
.popular_projects figure{
    position: relative;
}
figcaption{
    font-size: 13px;
}
.popp_a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popular_projects h3{
    color: #1f1f56;
    font-weight: bold;
    text-decoration: none;
}
.popular_projects h3:hover{
    text-decoration: underline;
}
.popular_projects p{
    margin: 0;
    margin-bottom: 6px;
}
.popular_projects sup{
    font-size: 9px;
}
.popular_projects .mg_clr{
    margin-bottom: 0;
}
footer{
    background-color: #ededf5;
}
.footer-contacts{
    padding: 35px 0 30px;
}
.footer-menu ul{
    margin: 0;
    padding-left: 0;
}
.footer-menu a{
    text-decoration: none;
    line-height: 26px;
    color: #666666;
}
.footer-menu a:hover{
    color:  #fd8300;
    text-decoration: underline;
}
footer .phones,
footer .messengers{
    float: right;
}
footer .messengers{
    height: 52px;
}
.copy{
    background-color: #dcdce6;
    font-size: 13px;
    color: #9999a6;
    text-align: center;
    margin: 0;
    padding: 18px 0 15px;
    font-size: 13px
}

/* hata plus  prise css*/
.price_table h1{
    font-size: 24px;
    color: #24242b;
    font-family: "Roboto Slab";
    font-weight: 700;
}
.price_table p{
    color: #666666;
}
.price_table table{
    width: 100%;
    border-collapse: collapse;
    background-color: #e4e4ec;
    border-radius: 3px;
}
.price_table tr:last-child:hover td:first-child{
    border-radius: 0 0 0 3px;
}
.price_table tr:last-child:hover td:last-child{
    border-radius: 0 0 3px 0;
}
table tr{
    border-bottom: 1px solid #cdcddd;
}
.headtable th{
    color:  white;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    text-align: left;
}
.tbody tr:hover{
    color:  #fff7ee;
    background-color: #fd8300;
}
.headtable th:first-child{
    border-radius: 3px 0 0 0;
}
.headtable th:last-child{
    border-radius: 0 3px 0 0;
}
.name{
    padding: 15px 20px;
}
.square{
    padding: 15px 70px;
}
.room{
    padding: 15px 50px ;
}
.garag,
.prise{
    padding: 15px 10px;
}
.bottom_inf{
    font-size: 13px;
}
.price_table a{
    color:  #fd8300;
    font-weight: bold;
}

/*contact ostany storinka*/  
.contact-info{
    width: 960px;
    margin-bottom: 75px;
    position: relative;
}
.contact-info h2{
    font-size: 24px;
    color: #24242b;
    font-family: "Roboto Slab";
    font-weight: 700;
}
.contact-info p{
    line-height: 21px;
}
.contact-info .phones{ 
    padding-left: 0;
    line-height: 24px;
}
.contact-info .post a{ 
    line-height: 24px;
}
.contact-info::after{
    content: "";
    position: absolute;
    border-bottom: 1px solid #e4e4ec;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;   
    bottom:-35px;
}
.contact-info .column_main:first-child .sub-column_main:last-child {
    padding-left: 80px;
}
.column_main{
    width: 50%;
    box-sizing: border-box;
}
.sub-column_main{
    width: 50%;
    box-sizing: border-box;
}
.info-title{
    color: #24242b;
    font-family: "Roboto Slab";
    font-weight: 700;
    margin-top: 0; 
}
.greyp{
    color: #666666;    
}
.details{
    margin: 0 auto;
    padding-left: 45px;
    width: 310px;
    margin: 0 60px 0 100px;
}
.maps{
    position: relative;
    width: 466px; 
    height: 300px;
    overflow: hidden;
}
.maps iframe{
    width: 100%; 
    height: 100%;
    border: 0;
    position: absolute;  
    left: 0;
    top: -16%;
}
.form{
    padding-left: 28px;
}
.form input,
.form textarea{
    font-size: 13px;
    line-height: 21px;
    color: #9999a6;
    margin-bottom: 10px;
    font-style: italic;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #c4c4d3;
}
.inp-nambers{
    margin-left: 14px;
}
.inp-name,
.inp-nambers,
.inp-theme{
    padding: 0 15px;
    height: 40px;
    width: 100%;
}
.inp-name,
.inp-nambers{
    width: 48%;
}
.inp-text{
    height: 105px;
    width: 100%;
    font-family: Arial;
    padding: 14px 15px;
}
.inp-checkbox{
    margin: 0;
    display: inline-block;
    margin-left: 28px;
}
.form:last-child p{
    display: inline-block;
    margin-left: 8px;
}
.form .submit{
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;  
    font-weight: bold;
    text-align: center;
    background-color: #fd8300;
    border: 0;
    border-radius: 18px;
    padding: 12px 31px;
    display: inline-block;
    margin: 0;
}


@media screen and ( max-width: 975px){
    .wrapper{
        padding: 0 25px;
    }
    .main_div{
        padding-bottom: 50px;
    } 
    .aside,
    .content{
        max-width: 100%;
    }
    .aside,
    main,
    .house-columns .column{
        float: none;
    }
    .house-columns{
       text-align: justify;
    }
    .house-columns::after{
        content: "";
        display: inline-block;
        width: 100%;
    }
    .house-columns .column{
        display: inline-block;
    }
    .footer-contacts,
    .header-columns{
        max-width: 780px;
        margin: 0 auto;
    }
    .footer-menu{
        padding-left: 14px;
    }
    footer .phones,
    footer .messengers{
        margin: 0;  
    }
    footer .messengers{
        margin-left: 15px;
    }
/*contact ostany storinka*/  
    .maps{
        width: 100%;
    }
    .form{
        min-width: 480px;
        width: 100%;
    }
    .form,
    .maps{
        display: inline-block;
    }

}
@media screen and ( max-width: 780px){
    .wrapper{
        max-width: 500px;
    }
    .footer-contacts,
    .header-columns{
        max-width: 500px;
        margin: 0 auto;
    }
    footer .phones,
    footer .messengers{
        margin: 14px;  
    }
    .footer-menu{
        padding-left: 14px;
        margin-left: 45px;
    }
    footer:last-child .footer-menu{
        margin-left: 93px;
    }
    footer .phones,
    footer .messengers,
    header .logo,
    .column.cta-btm{
        float: left;
        margin-bottom: 50px;
    }
}
@media screen and ( max-width: 780px){
    .house-columns .column{
        display: block;
        margin: 0 auto;
        max-width: 470px;
        margin-bottom: 50px;
    }
    .house-columns figure:last-child{
        margin-bottom: 0;
    }
    .house-columns img{
        margin-right: 50px;
    }
    .house-columns img,
    .house-columns figcaption{
        float: left;
    }
}
@media screen and ( max-width: 530px){
    .footer-contacts,
    .header-columns{
        max-width: 250px;
        margin: 0 auto;
    }
    header .phones{
        margin-bottom: 50px;
    }
    .line_meseng::before{
        content: "";
        background-color: #e4e4ec;
        width: 219px;
        height: 1px;
        position: absolute;
        top: -25px;
        left: 0;
    }
    header .cta-btm{
        margin-left: 30px;
    }
    .house-columns .column{
        display: block;
        margin: 0 auto;
        max-width: 219px;
        margin-bottom: 50px;
    }
    .house-columns figure:last-child{
        margin-bottom: 0;
    }
    .house-columns img{
        margin-right: 0;
    }
    .house-columns img,
    .house-columns figcaption{
        float: none;
    }
    .footer-menu{
        padding-left: 0;
    }
}